{{ "custom-article-page.css" | asset_url | stylesheet_tag }}

{% style %}
  .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | divided_by: 2  }}px;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
    }

    @media (min-width: 750px) {
      .padding-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }

{% endstyle %}


<div class="custom-article padding-{{ section.id }}">
  <div class="page-width">
    <div class="custom-article__heading-section ">
      <div class="h1 "> {{ section.settings.section_heading }} </div>
      <div>
        {% if section.settings.section_button_text %}
           <a class="custom-button-secondary" 
              {% if section.settings.section_button_link == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ section.settings.section_button_link }}"
              {% endif %}>
            {{ section.settings.section_button_text }}
          </a>
        {% endif %}  
      </div>
    </div>
    <splide-slider class = "custom-article__descktop" data-splide-options = '{
        "autoplay" : {{ section.settings.slider_autoplay }},
        "interval" : {{ section.settings.slider_autoplay_duration | times: 1000 }},
        "type" : "{{ section.settings.slide_animation }}",
        "pagination": {{ section.settings.slide_dots }},
        "gap": "20px",
        "perPage": 2,
        "arrows" : {{ section.settings.slide_arrows }},
        "rewind" : {{ section.settings.infinite_scroll }},
        "breakpoints" : {
            "750" : {"perPage" : 1 ,
                 "destroy" : true
            }
        }
      }'>
      <section class="splide" aria-label="Testimonial Splide" >
        <div class="splide__track">
          <ul class="splide__list custom-article__unorded-list">
             {% if section.settings.blog.articles %}               
                {% for article in section.settings.blog.articles %}
                    <li class="splide__slide custom-article__slide custom-border-radius ">                        
                        {% if article.image %}
                            <div class="custom-article__image media media--sqaure custom-border-radius"> 
                                {% render "image", 
                                    desktopImage: article.image, 
                                    mobileImage: article.image,
                                    class : "media media--sqaure" %}
                            </div>
                        {% else %}   
                           <div class="custom-border-radius">  
                              {{ 'product-3' | placeholder_svg_tag }}
                           </div>
                        {% endif %}
                        <div class="custom-article__content">  
                            <div>
                                {% for tag in article.tags -%}
                                    <span class = "custom-article__tags"> {{ tag }} </span>
                                {%- endfor %}
                            </div>
                            {% if article.title %}
                                <a href="{{ article.url }}" class = "h2 custom-article__title">{{ article.title }} </a>
                            {% endif %}
                            {% if article.author %}
                                <div class = "h4 custom-article__author"> Publish by:{{ article.author }}</div>
                            {% endif %}
                            {% if article.excerpt %}
                                <p class = "h4 custom-article__excert">{{ article.excerpt}}</p>
                            {% endif %}

                            <hr class = "custom-hr">
                            <div class ="custom-article__bottom">
                                {% if article.image %}
                                    <a href="{{ article.url }}" class="custom-article__button">
                                        Read More
                                    </a>
                                {% endif %}
                                {% if article.image %}
                                     <span>{{ article.created_at | date: '%B %d, %Y' }}</span>
                                {% endif %}
                            </div>
                        </div> 
                        
                    </li>
                {% endfor %} 
            {% else %}
                {% for i in (1..5) %}
                    <li class="splide__slide">
                        {{ 'product-' | append: i | placeholder_svg_tag }}
                    </li> 
                {% endfor %}            
            {%- endif -%}          
          </ul>
        </div>
      </section>
    </splide-slider>


  </div>
</div>


{% schema %}
  {
    "name": "Custom Article List",
    "tag": "section",
    "settings": [
        {
            "type" : "header",
            "content" : "Slider settings"
          },
          {
            "type": "checkbox",
            "id": "slider_autoplay",
            "label": "Slide autoplay",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "slide_dots",
            "label": "Show slide dots",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "slide_arrows",
            "label": "Show slide arrows",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "infinite_scroll",
            "label": "Infinite scroll",
            "default": true
          },
          {
            "type": "range",
            "id": "slider_autoplay_duration",
            "label": "Slider autoplay duration",
            "min" : 1,
            "step":1,
            "max" : 10,
            "default": 3,
            "unit": "sec"
          },  
            {
                "type": "text",
                "id": "section_heading",
                "label": "Section heading",
                "default": "Let You Know"
            },
            {
                "type": "text",
                "id": "section_button_text",
                "label": "Section button text",
                "default": "Read All"
            },
            {
                "type": "url",
                "id": "section_button_link",
                "label": "Section button link"
            },
            {
                "type": "blog",
                "id": "blog",
                "label":"Choose Blogs"
            },
            {
                "type" : "header",
                "content" : "Section padding settings"
              },
              {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "px",
                "label": "Section padding top",
                "default": 36
              },
              {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 1,
                "unit": "px",
                "label": "Section padding bottom",
                "default": 36
              }
            
    ],
    "presets": [
      {
        "name": "Custom Article List"
      }
    ]
  }
{% endschema %}