{{ "custom-single-image-grid.css" | asset_url | stylesheet_tag }}


{% style %}
  .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | divided_by: 2  }}px;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
    }

    @media (min-width: 750px) {
      .padding-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }

{% endstyle %}


<div class="custom-single-image-grid padding-{{ section.id }}">
    <div class="page-width custom-border-radius">
            <div class = "grid grid--1-col custom-border-radius">
                <div class = "grid__item custom-border-radius ">                    
                        <div class = "position-relative custom-single-image-grid__wrapper custom-border-radius">
                            {% if section.settings.image%}    
                                {% render 'image', 
                                    class: 'media media--landscape-single custom-single-image-grid__image custom-border-radius',
                                    desktopImage: section.settings.image,
                                    mobileImage: section.settings.mobile_image
                                %}
                                <div class="position-absolute custom-single-image-grid__text-container {{ section.settings.alignment_position }}">
                                    <div class="custom-single-image-grid__text-wrapper">
                                        {% if section.settings.pre_heading %}
                                            <span class="custom-single-image-grid__pre-heading">
                                                {{ section.settings.pre_heading }}
                                            </span> 
                                        {% endif %}                                                                   
                                        {% if section.settings.heading %}
                                            <div class="h2 custom-single-image-grid__main-heading">{{ section.settings.heading }}</div>
                                        {% endif %} 
                                        {% if section.settings.description %}
                                            <p class=" custom-single-image-grid__description ">{{ section.settings.description}}</p>
                                        {% endif %}                
        
                                        {% if section.settings.button_text  %}
                                            <a
                                            class="custom-button-primary-transparent custom-single-image-grid__button"
                                            href="{{section.settings.button_link }}"
                                            >
                                            {{section.settings.button_text }}
                                            </a>
                                        {% endif %}
                                    </div>
                                </div> 
                            {% else %}
                                <div class="media media--landscape custom-border-radius">
                                    {{ 'detailed-apparel-1' | placeholder_svg_tag }}
                                </div>
                            {% endif %}
                        </div>    
                    
                        
                </div>  
            </div>
        
    </div>
</div>

{% schema %}
  {
    "name": "Image With Text Grid",
    "tag" : "section",
    "settings": [
      {
        "type" : "image_picker",
        "id" : "image",
        "label" : "Desktop Image"
      },
      {
        "type" : "image_picker",
        "id" : "mobile_image",
        "label" : "Mobile Image"
      },
      {
        "type" : "text",
        "id" : "pre_heading",
        "label" : "Pre Heading",
        "default" : "Pre Heading"
      },
      {
        "type" : "text",
        "id" : "heading",
        "label" : "Heading",
        "default" : "Heading"
      },
      {
        "type" : "richtext",
        "id" : "description",
        "label" : "Description",
        "default" : "<p>Description<p>"
      },
      {
        "type" : "text",
        "id" : "button_text",
        "label" : "Button text",
        "default" : "Shop Now"
      },
      {
        "type" : "url",
        "id" : "button_link",
        "label" : "Button Link"
      },
      {
      "type" : "header",
      "content" : "Section padding settings"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Section padding top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Section padding bottom",
        "default": 36
      },
      {
        "type" : "select",
        "id" : "alignment_position",
        "label" : "Desktop content position",
        "options" : [
          {
            "value" : "align-start justify-start",
            "label" : "Top left"
          },
          {
            "value" : "align-start justify-center",
            "label" : "Top center"
          },
          {
            "value" : "align-start justify-end",
            "label" : "Top right"
          },
          {
            "value" : "align-center justify-start",
            "label" : "Middle left"
          },
          {
            "value" : "align-center justify-center",
            "label" : "Middle center"
          },
          {
            "value" : "align-center justify-end",
            "label" : "Middle right"
          },
          {
            "value" : "align-end justify-start",
            "label" : "Bottom left"
          },
          {
            "value" : "align-end justify-center",
            "label" : "Bottom center"
          },
          {
            "value" : "align-end justify-end",
            "label" : "Bottom end"
          }
        ],
        "default": "align-center justify-center"
      }
    ],
    "presets" : [
      {
        "name" : "Image With Text Grid"
      }
    ]
  }
{% endschema %}