{% comment %} {{ 'custom-timeline.css' |  asset_url |  stylesheet_tag }} 
<script src="{{ 'custom-my-splider.js' | asset_url }}" defer="defer"></script>


{% style %}
  .padding-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
  }

  @media only screen and (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

{% capture custom-timeline__thumbnail-slider-settings %}
{
  "type" : "{{ section.settings.slide_animation }}",
  "perPage": "{{ section.settings.slides_per_page }}",
  "pagination": {{ section.settings.show_pagination }},
  "perMove": "{{ section.settings.slides_per_move }}",
  "autoplay": {{ section.settings.autoplay }},    
  "interval": {{ section.settings.autoplay_duration }},
  "arrows" : {{  section.settings.slide_arrows }},
  "rewind" : {{ section.settings.infinite_scroll }},
  "id": "thumbnail-slider"
}
{% endcapture %}

{% capture custom-timeline__main-slider-settings %}
{
  "type" : "{{ section.settings.slide_animation }}",
  "perPage": 1,
  "pagination": {{ section.settings.show_pagination }},
  "perMove": "{{ section.settings.slides_per_move }}",
  "autoplay": {{ section.settings.autoplay }},    
  "interval": {{ section.settings.autoplay_duration }},
  "arrows" : {{  section.settings.slide_arrows }},
  "rewind" : {{ section.settings.infinite_scroll }},
  "id": "main-slider"
}
{% endcapture %}


<div class="custom-timeline padding-{{ section.id }}">
    <div class="page-width">
        <splide-slider-two class = "custom-timeline--thumbnail-slider" data-splide-options='{{ custom-timeline__thumbnail-slider-settings }}'>      
            <section   class="splide" aria-label="Splide Basic HTML Example">
                <div class="splide__track ">
                    <ul class="splide__list">
                        {% if section.blocks.size > 0  %}  
                            {% for block in section.blocks %}
                              <li class="splide__slide {% cycle 'margin-top', 'odd' as row_class %}">
                                <div class ="custom-timeline--years">
                                  <img class="timeline-logo" src="{{ section.settings.year_pointer | image_url }}" alt="timeline" height="30" width="30" />
              
                                  <div class="thumbnail-slider__timeline-description">
                                    <h2 class="custom-timeline--year">{{ block.settings.timeline_year }}</h2>
                                    <p>{{ block.settings.timeline_description }}</p>
                                  </div>                 
                                </div>
                              </li>  
                            {% endfor %} 
                        {% endif %}
                    </ul>
                </div>
            </section>
        </splide-slider-two>

        <splide-slider-two class = "custom-timeline--main-slider" data-splide-options='{{ custom-timeline__main-slider-settings }}'>      
            <section   class="splide custom-timeline--main-slider" aria-label="Splide Basic HTML Example">
                <div class="splide__track ">
                    <ul class="splide__list">
                        {% if section.blocks.size > 0  %}  
                            {% for block in section.blocks %}                
                              <li class="splide__slide">
                                <div class="main-slider__timeline-text-wrapper">
                                    <h2><strong>{{ block.settings.timeline_year }}</strong></h2>
                                    <p class = "main-slidr__time-text">{{ block.settings.timeline_description }}</p>
                                </div>
                                <div class="main-slider__timeline-description">{{ block.settings.timeline_year_description }}</div>
                              </li>
                            {% endfor %} 
                        {% endif %}
                    </ul>
                </div>
            </section>
        </splide-slider-two>
    </div>
</div>

<script>

</script>


{% schema %}
{
  "name": "Custom Timeline",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Slider Options"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "Show Pagination",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slide_arrows",
      "label": "Show slide arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "infinite_scroll",
      "label": "Infinite Scroll",
      "default": true
    },
    {
      "type": "select",
      "id": "slide_animation",
      "label": "Slide animation",
      "options": [
        {
          "value": "loop",
          "label": "Loop"
        },
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "slide",
          "label": "Slide"
        }
      ]
    },
    {
      "type": "range",
      "id": "autoplay_duration",
      "min": 1000,
      "max": 9000,
      "step": 1000,
      "unit": "ms",
      "label": "Autoplay Duration",
      "default": 5000
    },
    {
      "type": "range",
      "id": "slides_per_page",
      "label": "Slides per page",
      "min": 1,
      "max": 12,
      "default": 1
  },
  {
      "type": "range",
      "id": "slides_per_move",
      "label": "Slides per move",
      "min": 1,
      "max": 12,
      "default": 1
  },
  {
    "type": "image_picker",
    "id": "year_pointer",
    "label": "Year Pointer Image"
  },
  {
    "type": "image_picker",
    "id": "year_pointer_hover",
    "label": "Year Pointer hover Image"
  },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "name": "Timeline",
      "type": "slide",
      "settings": [
        {
            "type": "number",
            "id": "timeline_year",
            "label": "Year",
            "default": 2011
        },
        {
            "type": "richtext",
            "id": "timeline_description",
            "label": "Description",
            "default": "<p> Forays into Home Appliances Business</p>"
        },
        {
          "type": "text",
          "label": "Timeline description",
          "id": "timeline_year_description",
          "default": "Your timeline description goes here"
        }
          
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom my Timeline"
    }
  ]
}
{% endschema %} {% endcomment %}
