{{ "custom-single-image-grid.css" | asset_url | stylesheet_tag }}


{% style %}
  .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | divided_by: 2  }}px;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
    }

    @media (min-width: 750px) {
      .padding-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }

{% endstyle %}


<div class="custom-single-image-grid padding-{{ section.id }}">
    <div class="page-width">
            <div class = "grid grid--1-col">
                <div class = "grid__item  {{ section.settings.image_orientation_desktop }}">                    
                        <div class = "position-relative custom-single-image-grid__image media media--landscape">
                            {% render 'image', 
                                class: ' custom-border-radius ',
                                desktopImage: section.settings.image,
                                mobileImage: section.settings.mobile_image
                            %}
                            <div class="position-absolute custom-single-image-grid__text-container {{ section.settings.alignment_position }}">
                                <div class="">
                                    {% if section.settings.pre_heading %}
                                        <ul class="pre-heading custom-image-grid__pre-heading">
                                            <li>{{ section.settings.pre_heading }}</li>
                                        </ul> 
                                    {% endif %}                                                                   
                                    {% if section.settings.heading %}
                                        <div class="h2 richtext hl custom-image-grid__heading ">{{ section.settings.heading }}</div>
                                    {% endif %} 
                                    {% if section.settings.description %}
                                        <p class=" richtext  custom-image-grid__heading ">{{ section.settings.description}}</p>
                                    {% endif %}                
    
                                    {% if section.settings.button_text  %}
                                        <a
                                        class="custom-button-primary-transparent"
                                        href="{{section.settings.button_link }}"
                                        >
                                        {{section.settings.button_text }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div> 
                        
                        </div>    
                    
                        
                </div>  
            </div>
        
    </div>
</div>

{% schema %}
  {
    "name": "Image With Text Grid",
    "tag" : "section",
    "settings": [
      {
        "type": "select",
        "id": "image_orientation_desktop",
        "label": "Image orientation for Desktop",
        "options": [
          {
            "value": "custom-image-square",
            "label": "Square"
          },
          {
            "value": "custom-image-landscape",
            "label": "Landscape"
          },
          {
            "value": "custom-image-potrait",
            "label": "Potrait"
          }
        ],
        "default": "custom-image-landscape"
      },
      {
        "type": "select",
        "id": "image_orientation_mobile",
        "label": "Image orientation for Mobile",
        "options": [
          {
            "value": "custom-image-square",
            "label": "Square"
          },
          {
            "value": "custom-image-landscape",
            "label": "Landscape"
          },
          {
            "value": "custom-image-potrait",
            "label": "Potrait"
          }
        ],
        "default": "custom-image-landscape"
      },
      {
        "type" : "image_picker",
        "id" : "image",
        "label" : "Desktop Image"
      },
      {
        "type" : "image_picker",
        "id" : "mobile_image",
        "label" : "Mobile Image"
      },
      {
        "type" : "text",
        "id" : "pre_heading",
        "label" : "Pre Heading",
        "default" : "Pre Heading"
      },
      {
        "type" : "text",
        "id" : "heading",
        "label" : "Heading",
        "default" : "Heading"
      },
      {
        "type" : "richtext",
        "id" : "description",
        "label" : "Description",
        "default" : "<p>Description<p>"
      },
      {
        "type" : "text",
        "id" : "button_text",
        "label" : "Button text",
        "default" : "Shop Now"
      },
      {
        "type" : "url",
        "id" : "button_link",
        "label" : "Button Link"
      },
      {
      "type" : "header",
      "content" : "Section padding settings"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Section padding top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Section padding bottom",
        "default": 36
      },
      {
        "type" : "select",
        "id" : "alignment_position",
        "label" : "Desktop content position",
        "options" : [
          {
            "value" : "align-start justify-start",
            "label" : "Top left"
          },
          {
            "value" : "align-start justify-center",
            "label" : "Top center"
          },
          {
            "value" : "align-start justify-end",
            "label" : "Top right"
          },
          {
            "value" : "align-center justify-start",
            "label" : "Middle left"
          },
          {
            "value" : "align-center justify-center",
            "label" : "Middle center"
          },
          {
            "value" : "align-center justify-end",
            "label" : "Middle right"
          },
          {
            "value" : "align-end justify-start",
            "label" : "Bottom left"
          },
          {
            "value" : "align-end justify-center",
            "label" : "Bottom center"
          },
          {
            "value" : "align-end justify-end",
            "label" : "Bottom end"
          }
        ],
        "default": "align-center justify-center"
      }
    ],
    "presets" : [
      {
        "name" : "Image With Text Grid"
      }
    ]
  }
{% endschema %}